.custom-card {
    width: 20rem;
    height: 25rem;
    background-image: url('/static/img/visitorLogo.jpg');
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; /* Centers the image within the card */
}
